.sidebar-link {
  padding-left: 24px;
  cursor: pointer;
}

.sidebar-link .wrapper {
  padding-block: 12px;
  padding-left: 16px;
  transition: border-bottom 300ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-item .links-hidden {
  padding-left: 24px;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.links {
  transition: visibility 0s, opacity 0.4s linear;
  overflow: hidden;
}

.sidebar-item .links-show {
  padding-left: 24px;
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.dark .sidebar-link .wrapper {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.dark .sidebar-link .wrapper:hover {
  border-bottom: 4px solid white;
}

.light .sidebar-link .wrapper {
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.8);
}

.light .sidebar-link .wrapper:hover {
  border-bottom: 4px solid black;
}

.chevron {
  width: 16px;
  margin-right: 16px;
}

.chevron-rotated {
  transform: rotate(180deg);
}
