.nt-navbar {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.nt-navbar * {
  margin: 0px;
}

.nt-navbar .left,
.nt-navbar .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}
