table {
  font-family: IBM Plex Sans;
  font-size: 18px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

td {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

th {
  font-family: Public Sans;
  font-weight: 600;
  text-align: left;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

td {
  font-family: IBM Plex Sans;
  font-size: 18px;
  padding: 16px;
}

@media (max-width: 576px) {
  td {
    padding: 12px;
  }
  th {
    padding: 12px;
  }
}
